html,body{
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../Resources/leaves-pattern.png");
    background-attachment: fixed;
 }

 header{
     position: fixed;
     height: 50px;
     width: 100%;
     z-index: 99;   
     background-color: rgba(0, 0, 0, 0.7);
 }

section{
    margin: 50px 50px 50px 50px; 
    padding: 10px 150px 10px 150px;
    position: absolute;
    
}
.h2tags{
    text-align: center;  
}

#title{
    font-size: 48pt;
}

#error{
    color: red;
}

#author{
    font-size: 18pt;
}

.story{
    height: 100%;
}
textarea {
   border-radius: 2px;
   margin-bottom: 10px;
   font-family: Arial, Helvetica, sans-serif;
   padding: 2em;
   border: none;
   box-shadow: 0 4px 4px -3px gray;
}
.buttons{
    display: flex;
    justify-content: center; 
}

#publish{
    display: inline-block;
    border-radius: 4px;
    background-color: #42f58a;
    border: none;
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    width: 20%;
    cursor: pointer;
    transition: all 0.5s;
    margin: 5px;
}

#preview{
  margin-right: 6px;  
}

#publish:hover{
    /* background: #000;
    font-weight: lighter;
    color: #fff;
    border: 0px;
    border-radius: 4px; */

    width: 20%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}