html, body{
    margin: 0;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

body{
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("backgroundimg5.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
}

.header{ 
    margin: none;
    text-align: start;
    color:white;
    position: fixed;
    top: 0;
    height: 10%;
    width: 100%;
    background-color: grey;
    background: rgba(0, 0, 0, 0.8);
}

img{
    height: 70px;
    width: 225px;
    top: 1px;
}

#error{
    position: fixed;
    top: 65.3%;
    left: 62%;

    color: red;

    padding: 5px;
    width: 300px;
}

#login{ 
    position: fixed;
    top: 15%;
    right: 50px;    
    border-radius: 0px;
    padding: 20px; 
    font-family: 'Arimo', sans-serif;
    color: white;
    border: none;
    background: transparent; 

    /*box size*/
    width: 50%;
    height: 370px;

    margin-left: auto;
    margin-right: auto;
}

#about > h1 {
    font-size: 48pt;
}
#about > h3 {
    font-size: 24pt;
}
#about > p {
    font-size: 16pt;
}

.start{
    border-radius: 10px;
    background-color: rgb(158, 31, 31);
    color: rgb(255, 255, 255);
    font-size: 14pt;
    padding: 20px;
    width: 55%;
    transition:all 2s;
}
.start span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.start span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 2s;
}
.start:hover span{
    padding-right: 10px;
}
.start:hover span::after{
    opacity: 1;
}

#getstartbtn{
    display: flex;
    align-items: center;
    width: 220px;
    height: 40px;
    text-align: center;
    transition: 2s;
}

#log{
    display: inline-block;
    border-radius: 4px;
    background-color: #3D4F73;
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 14px;
    padding: 15px;
    height: 50px;
    width: 100px;
    cursor: pointer;
    transition: all 0.5s;
    margin-right: 5px;
    margin-top: 5%;
}
#log:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#sign {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    height: 50px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 5%;
}
#sign:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


