
html,body{
   margin: 0%;
   padding: 0;
   height: 100%;
   width: 100%; 
   font-family: Arial, Helvetica, sans-serif;
}
/*body consist of entire page*/
body{
    background-image: url("resources/bac4.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -200;
    background-position-y: -200px;
    display: table;
}
/*this div class commonly affect the form features*/
.Enter-data{
    border: 1px solid rgba(0,0,0,0.9);
    margin-left: 550px;
    border-radius: 5px;
    padding: 2em 5em 2em 5em;
    position: fixed;
    top: 20%;
    left: 15%;
    width: 60%;
    display: flex;
}

/*The main heading*/
h2{
    font-family: monospace;
    font-weight: lighter;
    color: #fff;
    font-size: 60px;
    margin-top: 80px;
    margin-left: 850px;
}
/*changes for all input element*/
input{
    width: 250px;
    height: 50px;
    background:white rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.5);
}

/*changes for textarea element*/
textarea{
    background: #fff;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 0.5em;
}
/*changes for all input,textarea,button elements commonly*/
input, textarea,  button{
    display: block;
    outline: none;
    border-radius: 5px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size:20px;
    margin-bottom: 30px;
    padding-left: 10px;
    margin-top: 6px;
    border: none;
}
.error {
    background: red;
}
/*changes for all label element*/
label{
    font-size: 25px;
    color: #fff;
}
/*properties set for select container */
.info-input{
    height: 40px;
    display: flex;
}
/*properties set for select element*/
select{
    display: block;
    margin:6px 0 30px 0;
    width: 90px;
    height: 30px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: lighter;
    border-radius: 5px; 
    border: none;
}

/*below properties are set to affect the div class="upload cover" container*/
.upload-cover {  
    margin-left: 25px;  
}
.upload-cover input{
    height: 30px; 
}
.upload-cover label{
    margin-left: 10px;
}
input #add-img{
    font-size: 5px;
    border: 2px;
    flood-color: #BF9B7A;
}

/*div container which contains the submit the form and proceed to next page button*/
#submit{
    height: 300px;
    text-decoration: none;
}
/*properties set to sub elements of button element which allow to visit the corresponding html page */
a{
    text-decoration: none;
} 
a:visited{
    text-decoration:none;
    color: inherit;
}
/*properties added to button element*/
#submit > button{
    margin-left:35px; 
    margin-top: 90px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    background: #BF9B7A;
    font-weight: bolder;
    color:#000;
    cursor: context-menu;
}
/*properties added to button element when it's hovered*/
#submit >button:hover{
    transition: 0.4s;
    width: 250px;
    background: #000;
    font-weight: lighter;
    font-size: 20px;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    margin-left:20px; 
    margin-right: 20px;
}




