body{
    background: url(backgroundimg10.jpg);
    background-size: cover;
    padding: 0px;
    margin: 0px;
}

.header{ 
    margin: none;
    text-align: start;
    color:white;
    position: fixed;
    top: 0;
    height: 10%;
    width: 100%;
    background-color: grey;
    background: rgba(0, 0, 0, 1);
}

img{
    height: 70px;
    width: 225px;
    top: 1px;
}

.login{ 
    border-radius: 0px;
    padding: 20px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    width: 350px;
    padding: 10px;
    border: 5px solid grey;
    background: grey; 

    /*box size*/
    width: 50%;
    height: 370px;
    
    /*box shadow*/
    box-shadow: -8px  8px  50px  1px rgb(0, 0, 0);

    margin-left: auto;
    margin-right: auto;  
    margin-top: 12%;
    background: rgba(0, 0, 0, 0.8);
    border: none;
}   
#about{
    border: 5px black;
    width: 50%;
    height: 100%;
    padding-top: 150px;
    float: left;
    text-align: center;
    transition: 2s;
    
}
/*#about:hover{
    width: 25%;
}*/

.start{
    border-radius: 4px;
    background-color: rgb(158, 31, 31);
    margin-left: 5%; 
    margin-bottom: 30%;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 55%;
    margin-top: 2%;
    transition:all 2s;
}
.start span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .start span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 2s;
  }
.start:hover span{
    padding-right: 25px;
}
.start:hover span:after{
    opacity: 1;
}

#getstartbtn{
    display: flex;
    justify-content: center;
    text-align: end;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 50%;
    height: 50%;
    float: right;
    padding-top: 150px;
    text-align: center;
    transition: 2s;
}
/*#getstartbtn:hover{
    width: 5%;
}*/

#log{
    display: inline-block;
    border-radius: 4px;
    background-color: #3D4F73;
    border: none;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    height: 50px;
    width: 100px;
    cursor: pointer;
    transition: all 0.5s;
    margin-right: 5px;
    margin-top: 5%;
}
#log:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#sign {
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    height: 50px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 5%;
}
#sign:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


