*{
    font-family: 'Raleway', sans-serif;
}

#signin_container{ 
    display: none;
    /* display: block; */
    position: absolute;
    top: 25%;
    left: 8%;

    border-radius: 0px;
    padding: 20px; 
    color:#ffffff;  
    /* border: 5px solid grey; */
    background: grey; 

    /*box size*/
    width: 400px;
    height: 200px;
    
    /*box shadow*/
    /* box-shadow: -8px  8px  50px  1px rgb(0, 0, 0); */
    background: rgba(0, 0, 0, 0);
    border: none;
    transition: all 2s
}   

#signin_container label{
    text-align: left;
}

#signin_container input[type=text], input[type=password]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 2px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 2s;
}

#signin_container .usepass{
    text-align: center;
    margin-top: 6%;
}

/* .fgt{
    margin-left: 11.7%;
} */

#signin_container .btngrp [type="submit"]{
    display: inline-block;
    border-radius: 4px;
    background-color: #42f58a;
    border: none;
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    width: 20%;
    cursor: pointer;
    transition: all 0.5s;
    margin: 5px;
}
#signin_container .btngrp [type="submit"]:hover{
    width: 50%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#signin_container .btngrp [type="reset"]{
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    width: 20%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
#signin_container .btngrp [type="reset"]:hover{
    width: 50%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#signin_container .btngrp{
    text-align: center;
}
