*{
    font-family: 'Raleway', sans-serif;
}

#signup_container{ 
    display: none;
    /* display: block; */
    position: absolute;
    top: 10%;
    left: 5%;

    border-radius: 10px;
    padding: 20px; 
    color:#ffffff;

    /*box size*/
    width: 400px;
    height: 500px;

    background: transparent;
    border: none;
}

#signup_container input[type=text], input[type=password]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 2s;
}

#signup_container .usepass{
    text-align: left;
    margin-top: 6%;
    margin-left: 7%; 
}

#signup_container .btngrp [type="submit"]{
    display: inline-block;
    border-radius: 4px;
    background-color: #42f58a;
    border: none;
    color: black;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    width: 22%;
    cursor: pointer;
    transition: all 0.5s;
    margin: 5px;
}

#signup_container .btngrp [type="submit"]:hover{
        width: 50%;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#signup_container .btngrp [type="reset"]{
    font-family: 'Arimo', 'Arial', sans-serif;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    width: 20%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
#signup_container .btngrp [type="reset"]:hover{
    width: 50%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#signup_container .btngrp{
    text-align: center;
}
